img {
  margin: 0 auto
}

.btn-width-200 {
  width: 250px;
  padding: 10px
}

.bg-pic {
  background: image-url('trophy-bg.jpeg');
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  height: 1200px;
  margin-top: -30px;
  z-index: 9999;
}